<?xml version="1.0" encoding="UTF-8"?>
<!-- 设置 status=DEBUG 查看log4j的装配过程 -->
<Configuration status="TRACE">
    <Properties>
        <Property name="LOG_HOME">.csga/logs</Property>
        <!-- 日志备份目录 -->
        <property name="BACKUP_HOME">${LOG_HOME}/backup</property>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %tp-%T/%t %p{length=1}/%c: %m%n
        </Property>
    </Properties>

    <Appenders>
        <Console name="show">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- 开发者日志 -->
        <RollingFile name="dev" fileName="${LOG_HOME}/last.log" immediateFlush="false"
                     filePattern="${BACKUP_HOME}/%d{yyyyMMdd}-%i.log.gz">
            <ThresholdFilter level="INFO" onMatch="ACCEPT"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="20MB"/>
                <TimeBasedTriggeringPolicy modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${BACKUP_HOME}">
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="TRACE" includeLocation="true">
            <AppenderRef ref="show"/>
            <AppenderRef ref="dev"/>
        </Root>
    </Loggers>
</Configuration>